*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
body{
	width: 100%;
	height: 100%;
}

div{
	font-size: 2.4vh;
	padding: 1vh 2vw;
	height: 100px; 
}
div.odd{
	background-color: orange;

}

div.even{
	background-color: blue;
}