@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Dancing+Script&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
html{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	
}
body{
	text-align: center;
		background-color: #a39391;
	}

nav:first-child{

	background-color: #ecd6c7;
}
nav:first-child>div{
	display: inline-block;
	padding: 15px;
	margin:5px;
	width: 150px;
	height: 50px;
	background-color: #ecd6c7;
	font-family: Nerko One;
	font-size: 4vh;
}
nav:first-child>div:hover{
	background-color: #e79686;
}
nav#menu{
	display: block;
	position: fixed;
	height: 100%;
	width: 20%;
	margin-right: 80%;
	background-color: #cf9482;
	color: #071959;
	text-align: center;
	font-family: Dancing Script;
	font-size: 5vh;
	font-weight: bold;
}
nav#menu>div{
	padding: 20px 0;
	text-align: center;
}
nav#menu>div:hover{
	background-color: #854e4b;
	color: white;
}
article{
	background-color: #b0e3ff;
}
