*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
body{
	width: 100%;
	height: 100%;
}
section{
	height: 150px;
	background-color: grey;
}
section>div{
	height: 30px;
	background-color: red;
}
section:not(:first-child):hover >div:nth-of-type(2){
	background-color: green;
} 
